.antique {
	background-color: #e8e8e8;
}

.app-box {
	background-color: #a5a5a5;
	border-radius: 4px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

.app-image {
	width: 188px; 
	height: 188px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	margin-top: -10px;
	margin-bottom: 17px;
}

.attention {
	font-size: 50px; 
	color: red; 
	font-weight: bold; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
}

.attention-space {
	padding-bottom: 75px;
}

.border {
	border-color: #000000;
	border-style: solid;
	border-width: 50px;
}

.external {
	width: 270px; 
	height: 80px; 
	margin-top: 6px;
	margin-bottom: 18px; 
	padding-left: 10px;
}

.heading {
	font-size: 18px; 
	color: #7f7f7f; 
	font-weight: bold; 
	margin-bottom: 20px;
}

.hemihead {
	font-family: 'hemi_head_rg', Arial, sans-serif;
	font-size: 22px;
}


.navbar-default {
    background-color: #be1e2d;
    border-color: #d6d6d6;
	margin-top: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
	background-color: #be1e2d;
	border-radius: 4px;
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1); 
}

.navbar-inverse {
	background-color: #e0e0e0;
	border-color: #d6d6d6;
	margin-top: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #be1e2d;
	box-sizing: border-box;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
	background-color: #be1e2d;
	border-radius: 4px;
	-ms-transform: scale(1.115);
	-webkit-transform: scale(1.115);
	transform: scale(1.115); 
}

.nav-item {
	border-color: #a6a6a6;
	border-style: solid;
	border-width: 0px;
	border-radius: 4px;
	margin-top: 8px;
	margin-right: 16px;
	margin-bottom: 8px;
}

.nav-item-active {
	color: #be1e2d;
	background-color: #a6a6a6;
	border-radius: 4px;
	margin-top: 8px;
	margin-right: 16px;
	margin-bottom: 8px;
	padding: 8px;
}

.social-div {
	margin-top: 30px;
	padding-left: 0;
	text-align: center;
}

.social-icons {
	font-size: 64px;
	margin-left: -8px;
	text-align: left;
}

.text {
	margin-bottom: 18px; 
	padding-left: 10px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtubeContainer {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	margin-top: 6px;
}

.zoom {
  transition: transform .15s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}

.input {
  display: block;
  padding-bottom: 0px;
}