/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2019 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Typodermic Fonts Inc.
 * License URL: https://www.fontspring.com/licenses/typodermic/webfont
 *
 *
 */

@font-face {
    font-family: 'hemi_head_rg';
    src: url('hemi_head_rg-webfont.eot');
	src: url('hemi_head_rg-webfont.eot#iefix') format("embedded-opentype"),
		 url('hemi_head_rg-webfont.woff') format('woff'),
		 url('hemi_head_rg-webfont.woff2') format('woff2'),
		 url('hemi_head_rg-webfont.ttf') format('truetype'),
		 url('hemi_head_rg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

